<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Example</title>
    <style>
        body {
          margin: 0;
        }

        .center {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
        }
      </style>
</head>
<body>
    <div class="center">
        <form method="POST" action = "/index2" enctype="multipart/form-data">
            <p>text extractor</p>
            <input type="file" name="file" multiple>
            <button>Submit</button>
        </form>

        <form method="POST" action = "/upload_done2" enctype="multipart/form-data">
          <button>넘어가기</button>
        </form>
    </div>
</body>
</html>